* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
}

.container {
  width: 420px;
  height: 500px;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 3em;
  background-color: #f1f1f1;
}

.form {
  width: 390px;
  height: 320px;
  margin: 0 auto;
  padding: 15px 10px;
}

.form div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  margin-left: 6em;
  font-size: 16px;
  text-transform: capitalize;
}

.card-body {
  margin-top: 5em;
}

input {
  width: 55%;
  height: 30px;
  margin: 8px auto 15px auto;
  font-size: large;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background: none;
}

input:focus {
  width: 80%;
  border-bottom: 2px solid green;
  transition: .3s ease-in-out;
}

button {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  margin-top: 10px;
  outline: none;
  background-image: linear-gradient(100deg, #afafaf, #f1f1f1 );
}